
<header >
  <div class="navbar">
    <h1>MoviesApp</h1>
  
    <i (click)="isOpen = !isOpen" class="mobile fa-solid  fa-xl" [ngClass]="isOpen ? 'fa-xmark' : 'fa-bars'"></i>
  
    <div class="menu">
      <a
          *ngFor="let menuItem of menu"
          [ngClass]="currentUrl === menuItem.url ? 'active' : ''"
          [routerLink]="menuItem.url"
          >{{ menuItem.name }}</a
        >

        <button (click)="signOut()" *ngIf="isLoggedIn">Sign Out</button>
    </div>
  </div>
  <div class="mobile-menu" *ngIf="isOpen">
    <a
        *ngFor="let menuItem of menu"
        [ngClass]="currentUrl === menuItem.url ? 'active' : ''"
        [routerLink]="menuItem.url"
        >{{ menuItem.name }}</a
      >

      <button (click)="signOut()" *ngIf="isLoggedIn">Sign Out</button>

  </div>

</header>
