<div class="banner">
  <h1>I am social 😎</h1>
  <p>
    Have something on your mind? Leave a message and I will get in touch asap
  </p>
</div>
<div class="contact-body">
  <!-- <h3>Contact details</h3> -->
  <div class="grid-container">
    <div>
      <h3>
        <i class="fa-solid fa-address-card" ></i> &nbsp;
        Name
      </h3>
      <p>Rodney Mupanduki</p>
    </div>
    <div class="grid-image image-1"></div>
    <div>
      <h3><i class="fa-solid fa-phone"></i> &nbsp; Phone</h3>
      <p>+263 713 257 355</p>
    </div>
    <div class="grid-image image-2"></div>
    <div>
      <h3> <i class="fa-solid fa-envelope"></i> &nbsp; Email</h3>
      <p>rodneymupanduki@gmail.com</p>
    </div>
    <div class="grid-image image-3"></div>
  </div>
</div>
