<div class="banner">
  <h1>The best movies, tv shows and series</h1>
  <p>
    Get the ultimate movie experience in the comfort of your own home. Sign up
    now to enjoy unlimited streaming of the latest blockbusters and classics.
  </p>
</div>

<div class="popular">
  <h1>Popular</h1>

  <div class="movies-list">
    <p *ngIf="loading">loading....</p>
    <p *ngIf="!loading && movies.length == 0">No results</p>

    <app-movie-card
      *ngFor="let movie of movies"
      [movie]="movie"
    ></app-movie-card>
  </div>
  <app-paginator [page]="page" (pageChange)="changePage($event)"></app-paginator>
</div>

